<div class="container" style="margin-top: 5%">
  <div class="row text-center">
    <div class="col">
      <img src="../assets/favicon.ico">
      <h1>Quick-Dwelling</h1>
    </div>
  </div>
  <div class="alert text-center" [ngClass]="(thempt > 35 ? 'alert-danger' : 'alert-primary')" role="alert">
    <h5>Temperatura Actual</h5>
    <h6>{{thempt}} C°</h6>
  </div>
  <div class="row text-center">
    <div class="col back" >
      <a (click)="goBack()">
        <i class="fas fa-arrow-circle-left"></i> Regresar</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
