<div class="container-fluid">
  <div style="margin-top: 5%">
    <div class="row align-items-center text-center slideInLeft animated">
      <div class="col align-self-start" style="cursor: pointer;" [routerLink]="['/eventlights', 'home']" routerLinkActive="router-link-active">
        <img src="../../../assets/imgs/home.svg" style="width: 180px; height: 144px">
        <p>Entrada</p>
      </div>
      <div class="col align-self-center" style="cursor: pointer;" [routerLink]="['/eventlights', 'dining']">
        <img src="../../../assets/imgs/couch.svg" style="width: 180px; height: 144px">
        <p>Sala comedor</p>
      </div>
      <div class="col align-self-end" style="cursor: pointer;" [routerLink]="['/eventlights', 'kitchen']">
        <img src="../../../assets/imgs/utensils.svg" style="width: 180px; height: 144px">
        <p>Cocina</p>
      </div>
    </div>
    <div class="row align-items-center text-center slideInRight animated">
      <div class="col align-self-start" style="cursor: pointer;" [routerLink]="['/eventlights', 'bed']">
        <img src="../../../assets/imgs/bed.svg" style="width: 180px; height: 144px;">
        <p>Habitación principal</p>
      </div>
      <div class="col align-self-center" style="cursor: pointer;" [routerLink]="['/eventlights', 'bath']">
        <img src="../../../assets/imgs/bath.svg" style="width: 180px; height: 144px">
        <p>Baño</p>
      </div>
      <div class="col align-self-end" style="cursor: pointer;" [routerLink]="['/eventlights', 'wash']">
        <img src="../../../assets/imgs/trash.svg" style="width: 180px; height: 144px">
        <p>Cuarto de aseo</p>
      </div>
    </div>
  </div>
</div>
