<div class="container-fluid">

  <div class="row align-items-center text-center slideInDown animated" style="margin-top: 10%" routerLink="/doors">
    <div class="col align-self-start" style="cursor: pointer;">
      <img src="../../../assets/imgs/door-open.svg" style="width: 180px; height: 144px">
      <p>Puertas</p>
    </div>
    <div class="col align-self-center" style="cursor: pointer;" routerLink="/lights">
      <img src="../../../assets/imgs/light.svg" style="width: 180px; height: 144px">
      <p>Iluminación</p>
    </div>
    <div class="col align-self-end" style="cursor: pointer;" routerLink="/window">
      <img src="../../../assets/imgs/window.svg" style="width: 180px; height: 144px">
      <p>Persiana</p>
    </div>
  </div>
</div>
