<div class="container-fluid">

  <div class="row align-items-center text-center slideInDown animated"  style="margin-top: 10%" routerLink="/doors">
    <div class="col align-self-start" style="cursor: pointer;">
      <i class="fas fa-door-open fa-9x"></i>
        <p>Puertas</p>
    </div>
    <div class="col align-self-center" style="cursor: pointer;" routerLink="/lights">
       <i class="far fa-lightbulb fa-9x"></i>
       <p>Iluminación</p>
    </div>
    <div class="col align-self-end" style="cursor: pointer;" routerLink="/window">
    <i class="fab fa-windows fa-9x"></i>
    <p>Ventana</p>
    </div>
  </div>
</div>
