<div class="container-fluid">
  <div style="margin-top: 5%">
    <div class="row align-items-center text-center">
      <div class="col align-self-start rotateInDownLeft animated" style="cursor: pointer;" [routerLink]="['/eventdoors', 'home']">
        <i class="fas fa-home fa-9x"></i>
        <p>Entrada Principal</p>
      </div>
      <div class="col align-self-center slideInDown animated" style="cursor: pointer;" [routerLink]="['/eventdoors', 'bed']">
        <i class="fas fa-bed fa-9x"></i>
        <p>Habitación</p>
      </div>
      <div class="col align-self-end rotateInDownRight animated" style="cursor: pointer;" [routerLink]="['/eventdoors', 'bath']">
        <i class="fas fa-bath fa-9x"></i>
        <p>Baño</p>
      </div>
    </div>
  </div>
</div>

